@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.blackjack{
    background-image: url('images/background.jpg');
    background-size: 100%, 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Helvetica, sans-serif;
}

.nav {
    background-color: rgba(20,20,20,0.8);
    padding: 10px;
    margin: 0;
}

h1{
    text-align: center;
    color: #DDD;
    font-family: 'Cookie', cursive;
    font-size: 40px;
    letter-spacing: 3px;
}

p {
    color: #DDD;
    padding: 10px;
    margin: 0;
    line-height: 1.2;
}

.draw{
    padding: 0;
    
}

#botCardsFirst {
    float: left;
}


.card {
    width: 80px;
    height: auto;
    padding: 5px 0px 5px 10px;
    border-radius: 15px;
}

.draw, #totalValue, .stand {
    text-align: center;
}

.draw {
    margin-left: 10%;
    float: left;
    padding: 2px;
}

#totalValue {
    float: left;
    color: #DDD;
    font-size: 0.9rem;
    padding: 6px 3px 0px 3px;
}

.stand {
    padding: 2px;
}

.footer {
    background-color: #333;
    color: #DDD;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*ligtbox*/
#lightbox{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7); 
  
}

#message {
    color: #ddd;
	font-family: Lato, sans-serif;
	font-size: 2rem;   
    line-height: 1.2;
	text-align: center;
    margin-top: 10%;
}

@media (min-width: 768px) {
    
    .nav {
        padding: 15px;
    }
    
    h1 {
        font-size: 70px;
        letter-spacing: 6px;
    }
    
    p {
        font-size: 1.1rem;
        padding: 15px;
    }
    
    .card {
        width: 150px;
    }
    
    .draw, #totalValue, .stand {
        font-size: 1.3rem;
    }
    
    .draw {
        margin-left: 2%;
    }
    
    #totalValue {
        padding: 8px 10px 0px 10px;
    }
}/*768px media*/

